In [9]:
def movie1(name):  # name 인수
    print('영화명: ' + name)    

def movie2(name, genre):  # 인수 여러개 사용 가능
    print('영화명: ' + name)        
    print('장  르: ' + genre)

In [10]:
movie1('검은 사제들')
movie2('사바하', '퇴마')

영화명: 검은 사제들
영화명: 사바하
장  르: 퇴마

In [11]:
def movie3(name, genre, score=5.0):  # 기본값 사용
    print('영화명: ' + name)        
    print('장  르: ' + genre)  
    print('평  점: ' + str(score))

In [13]:
movie3('컨저링', '퇴마')
movie3('더라이트', '퇴마', 4.5)

영화명: 컨저링
장  르: 퇴마
평  점: 5.0
영화명: 더라이트
장  르: 퇴마
평  점: 4.5

In [15]:
def movie4(time, name, genre): 
    print('영화명: ' + name)        
    print('시   간: ' + str(time))
    print('장  르: ' + genre)

In [17]:
movie4(120, '안시성', '역사')
movie4(name='택시 운전사', time=130, genre='다라마') # 파라미터 순서의 변경

영화명: 안시성
시   간: 120
장  르: 역사
영화명: 택시 운전사
시   간: 130
장  르: 다라마

In [26]:
def movie5(name, *actors):  # tupe, 가변인자 처리
    print(type(actors))
    print(name)
    print(actors)

In [27]:
movie5('안시성','조인성', '김태리')
movie5('맘마미아', '피어스브로스넌', '메릴 스트립', '아만다 사이프리드')

<class 'tuple'>
안시성
('조인성', '김태리')
<class 'tuple'>
맘마미아
('피어스브로스넌', '메릴 스트립', '아만다 사이프리드')

In [22]:
def movie6(movie, **actors):  # 고정과 가변인자 병합 처리
    print(type(actors))
    print(movie)
    print(actors)  # Dictionary

In [23]:
movie6('인터스텔라', actor1='맥커너희', actor2='앤 헤서웨이', actor3='마이클 케인')

<class 'dict'>
인터스텔라
{'actor1': '맥커너희', 'actor2': '앤 헤서웨이', 'actor3': '마이클 케인'}

In [33]:
param = 10
str1 = '전역 변수'

def fun1():
    str1 = '지역 변수'
    print(str1)

In [34]:
fun1()
print('str1: ', str1)

지역 변수
str1:  전역 변수

In [38]:
def fun2():
    global str1
    str1='지역 변수 값 적용'
    print(str1)

In [39]:
fun2()
print('str1: ', str1)

지역 변수 값 적용
str1:  지역 변수 값 적용

In [40]:
def maxno(x, y):
    if x > y:
        return x
    else:
        return y

In [41]:
print(maxno(100, 200))

200

In [42]:
def season(month):
    season=''
    if month == 1:
        season='January'
    elif month == 2:
        season='February'
    elif month == 3:
        season="March"
    else:
        season="Only input 1 ~ 3"
    
    return season

In [43]:
print(season(3))

March

In [46]:
def reverse(x, y, z):
    return z, y, x

In [47]:
ret = reverse(10, 20, 30) # 2개 이상의 변수는 tuple 리턴
print(ret)

(30, 20, 10)

In [48]:
r1, r2, r3 = reverse(10, 20, 30) # 정수로 리턴 받음
print(r1, r2, r3)

30 20 10

In [50]:
r1, r2, r3 = reverse('A', 'B', 'C') # 문자로 리턴 받음
print(r1, r2, r3)

C B A

In [51]:
def data():
    return (1, 2), ('A', 'B')

In [55]:
# a, b, c, d = data()  # ERROR
ret = data()
print(ret)

((1, 2), ('A', 'B'))

In [56]:
(a, b), (c, d) = data()
print(a, b, c, d)

1 2 A B

In [58]:
def data():
    return [1, 2, 3]

ret = data()
print(type(ret))
print(ret)

<class 'list'>
[1, 2, 3]

In [60]:
def data():
    return [1, 2, 3], [4, 5, 6]

ret = data()
print(type(ret))
print(ret)
print(ret[0])
print(ret[1])

<class 'tuple'>
([1, 2, 3], [4, 5, 6])
[1, 2, 3]
[4, 5, 6]

In [ ]:
def data():
    return [1, 2, 3], [4, 5, 6]

ret = data()
print(type(ret))
print(ret)
print(ret[0])
print(ret[1])