In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([1, 3, 5, 7, 9])  # index: 0 ~
print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
s1 = pd.Series([1, 3, np.nan, 7, 9])  # index: 0 ~, NaN: Not a Number
print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
0    1.0
1    3.0
2    NaN
3    7.0
4    9.0
dtype: float64

In [5]:
df = pd.DataFrame([[1,2], [3,4]])
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   0  1
0  1  2
1  3  4

In [6]:
df = pd.DataFrame([[1,2], [3,4]], columns=['A', 'B'])
print(df)

   A  B
0  1  2
1  3  4

In [8]:
# randn: 표준 정규 분포 난수 발생, 평균:0, 표준 편차 1
df = pd.DataFrame(np.random.randn(10, 5), columns=['kor', 'eng', 'mat', 'python', 'ai'])
print(df)

        kor       eng       mat    python        ai
0  0.122340  0.691775 -0.752831 -1.276355 -0.556030
1 -0.526815  2.010978  0.604867 -0.517547  0.681491
2 -0.266828 -0.153755 -2.138974  0.415537 -0.081533
3 -1.226895  0.784067 -0.363596  1.308072 -1.320944
4 -1.294543 -0.912646 -0.676923 -0.355940  0.292494
5 -1.429186  0.316319  0.375657  0.685391  1.908796
6  0.051361 -0.426267 -1.419369 -0.104066  2.372401
7 -0.647662 -0.216084 -0.261994 -0.008252  1.176991
8  0.750698  0.234734  0.606209 -0.594699  0.339049
9 -0.338698 -0.255602  0.095731 -3.030241  0.614710

In [9]:
df2 = df[(df.index >= 3) & (df.index <= 5)]
print(df2)

        kor       eng       mat    python        ai
3 -1.226895  0.784067 -0.363596  1.308072 -1.320944
4 -1.294543 -0.912646 -0.676923 -0.355940  0.292494
5 -1.429186  0.316319  0.375657  0.685391  1.908796

In [10]:
print(df.head()) # 5 건

        kor       eng       mat    python        ai
0  0.122340  0.691775 -0.752831 -1.276355 -0.556030
1 -0.526815  2.010978  0.604867 -0.517547  0.681491
2 -0.266828 -0.153755 -2.138974  0.415537 -0.081533
3 -1.226895  0.784067 -0.363596  1.308072 -1.320944
4 -1.294543 -0.912646 -0.676923 -0.355940  0.292494

In [11]:
print(df.tail())  # 5 건

        kor       eng       mat    python        ai
5 -1.429186  0.316319  0.375657  0.685391  1.908796
6  0.051361 -0.426267 -1.419369 -0.104066  2.372401
7 -0.647662 -0.216084 -0.261994 -0.008252  1.176991
8  0.750698  0.234734  0.606209 -0.594699  0.339049
9 -0.338698 -0.255602  0.095731 -3.030241  0.614710

In [12]:
print(df.columns)

Index(['kor', 'eng', 'mat', 'python', 'ai'], dtype='object')

In [13]:
print(df.index) # 0 ~ 9

RangeIndex(start=0, stop=10, step=1)

In [14]:
print(df.describe()) # 기술 통계

             kor        eng        mat     python         ai
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.480623   0.207352  -0.393122  -0.347810   0.542743
std     0.697437   0.817370   0.891555   1.188572   1.096202
min    -1.429186  -0.912646  -2.138974  -3.030241  -1.320944
25%    -1.082087  -0.245723  -0.733854  -0.575411   0.011974
50%    -0.432757   0.040489  -0.312795  -0.230003   0.476880
75%    -0.028186   0.597911   0.305676   0.309590   1.053116
max     0.750698   2.010978   0.606209   1.308072   2.372401

In [15]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
print(df)
print()
print(df['A']) # 대소문자 주의

   A  B
0  1  2
1  3  4

0    1
1    3
Name: A, dtype: int64

In [17]:
# print(df['A', 'B'])  # ERROR
print(df[['A', 'B']])  # list 형태로 전달

   A  B
0  1  2
1  3  4

In [20]:
# print(df[0]) # ERROR
print(df[0:1]) # 0

   A  B
0  1  2

In [21]:
print(df[1:2]) # 1

   A  B
1  3  4

In [22]:
df2 = df[df > 2] # 값이 2보다 큰 값만 필터링
print(df2)

     A    B
0  NaN  NaN
1  3.0  4.0

In [23]:
df3 = df2 * 2 #NaN 값은 연산이 안됨.
print(df3)

     A    B
0  NaN  NaN
1  6.0  8.0

In [24]:
df3 = df2.dropna()  # 컬럼중에 NaN가 등장하면 행 전체를 삭제
print(df2)
print(df3)

     A    B
0  NaN  NaN
1  3.0  4.0
     A    B
1  3.0  4.0

In [25]:
df3 = df2.fillna(0)  # NaN -> 0
print(df3)
print(type(df3))

     A    B
0  0.0  0.0
1  3.0  4.0
<class 'pandas.core.frame.DataFrame'>

In [26]:
df3 = df3 * 2
print(df3)

     A    B
0  0.0  0.0
1  6.0  8.0

In [38]:
print(df3.mean())  # 열단위 평균을 구하여 행방향 평균 출력

A    3.0
B    4.0
dtype: float64

In [28]:
print(df3.mean(1))  # 0: 열단위, 1: 행단위 평균을 구하여 행방향 평균 출력

0    0.0
1    7.0
dtype: float64

In [29]:
# 새로운 변수의 추가
df3['C'] = (df3['A'] + df3['B']) / 2
print(df3)

     A    B    C
0  0.0  0.0  0.0
1  6.0  8.0  7.0

In [30]:
df3['C'] = 1

In [31]:
print(df3)

     A    B  C
0  0.0  0.0  1
1  6.0  8.0  1

In [32]:
df3['D'] = [5, 6]
print(df3)

     A    B  C  D
0  0.0  0.0  1  5
1  6.0  8.0  1  6

In [33]:
df4 = pd.DataFrame([[2, 4, 6, 20]], columns=['A', 'B', 'C', 'E'])
print(df4)

   A  B  C   E
0  2  4  6  20

In [34]:
df5 = pd.concat([df3, df4]) # 병합

C:\ProgramData\Anaconda3\envs\machine\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [46]:
print(df5)

     A    B  C    D     E
0  0.0  0.0  1  5.0   NaN
1  6.0  8.0  1  6.0   NaN
0  2.0  4.0  6  NaN  20.0

In [35]:
df6 = df5.reset_index(drop=True) # index를 0부터 재설정
print(df6)

     A    B  C    D     E
0  0.0  0.0  1  5.0   NaN
1  6.0  8.0  1  6.0   NaN
2  2.0  4.0  6  NaN  20.0

In [36]:
print(df6.drop(2))  # index가 2번인 행 삭제

     A    B  C    D   E
0  0.0  0.0  1  5.0 NaN
1  6.0  8.0  1  6.0 NaN

In [38]:
print(df6)  # 위에서 drop후 할당을 안했음으로 변경 없음

     A    B  C    D     E
0  0.0  0.0  1  5.0   NaN
1  6.0  8.0  1  6.0   NaN
2  2.0  4.0  6  NaN  20.0

In [39]:
print(df6.drop(2, axis=0))  # 0: index가 2번인 행삭제

     A    B  C    D   E
0  0.0  0.0  1  5.0 NaN
1  6.0  8.0  1  6.0 NaN

In [40]:
print(df6.drop('E', axis=1))  # 1: 'E' 열 삭제

     A    B  C    D
0  0.0  0.0  1  5.0
1  6.0  8.0  1  6.0
2  2.0  4.0  6  NaN

In [41]:
print(df)

   A  B
0  1  2
1  3  4

In [42]:
df.loc[0:0, 'A'] = 100 # loc: location 위치
print(df)

     A  B
0  100  2
1    3  4

In [43]:
df.loc[0:1, 'A'] = 100 # loc: location 위치
print(df)

     A  B
0  100  2
1  100  4

In [44]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
print(df)

   A  B
0  1  2
1  3  4

In [117]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
df2 = df  # 메모리 공유

In [118]:
df.loc[0:0, 'A'] = 1000

In [122]:
print(df)
print(df2)

      A  B
0  1000  2
1     3  4
      A  B
0  1000  2
1     3  4

In [123]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
df2 = df.copy()  # 값 복사

In [124]:
df.loc[0:0, 'A'] = 1000

In [126]:
print(df)
print(df2)  # 변경되지 않음.

      A  B
0  1000  2
1     3  4
   A  B
0  1  2
1  3  4

In [128]:
dates = pd.date_range('20190101', periods=6)  # 6일간 날짜 생성
print(dates)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [129]:
# 평균(기댓값)이 0이고 표준편차가 1인 가우시안 표준 정규 분포를 따르는 난수생성
# index를 날짜로 지정
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2019-01-01  0.559039  1.082269 -0.698327  0.136219
2019-01-02  0.196337  0.062266  0.115113  0.402560
2019-01-03  0.120106 -2.149956  1.794591  0.404337
2019-01-04 -0.923719 -0.203031 -0.242551 -0.508793
2019-01-05  1.381434 -0.068938  0.574161  1.044594
2019-01-06 -0.155838 -0.952899 -1.040878  0.874383

In [73]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [75]:
print(df.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [76]:
df.values

array([[-1.42896214,  0.98261843, -0.232847  ,  1.65232112],
       [-0.07561557,  0.71170069, -0.68171638, -0.23382739],
       [-0.55835108, -2.59809153, -0.34753235, -0.38016167],
       [-0.77704899,  0.83107687, -0.60860578, -0.21948037],
       [-0.20219318, -0.43334384, -0.51607286, -0.62543792],
       [ 0.28428256,  0.57072397,  1.07012152,  0.71993279]])

In [77]:
type(df.values)

numpy.ndarray

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2019-01-01 to 2019-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [79]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.459648  0.010781 -0.219442  0.152224
std    0.602869  1.373000  0.653100  0.865792
min   -1.428962 -2.598092 -0.681716 -0.625438
25%   -0.722375 -0.182327 -0.585473 -0.343578
50%   -0.380272  0.641212 -0.431803 -0.226654
75%   -0.107260  0.801233 -0.261518  0.485080
max    0.284283  0.982618  1.070122  1.652321

In [82]:
df.sort_values(by='A') # 오름차순

                   A         B         C         D
2019-01-01 -1.428962  0.982618 -0.232847  1.652321
2019-01-04 -0.777049  0.831077 -0.608606 -0.219480
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162
2019-01-05 -0.202193 -0.433344 -0.516073 -0.625438
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-06  0.284283  0.570724  1.070122  0.719933

In [83]:
df.sort_values(by='A', ascending=False) # 내림 차순

                   A         B         C         D
2019-01-06  0.284283  0.570724  1.070122  0.719933
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-05 -0.202193 -0.433344 -0.516073 -0.625438
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162
2019-01-04 -0.777049  0.831077 -0.608606 -0.219480
2019-01-01 -1.428962  0.982618 -0.232847  1.652321

In [86]:
df['A']

2019-01-01   -1.428962
2019-01-02   -0.075616
2019-01-03   -0.558351
2019-01-04   -0.777049
2019-01-05   -0.202193
2019-01-06    0.284283
Freq: D, Name: A, dtype: float64

In [88]:
df[0:3] # 행범위 0 ~ 2가 해당

                   A         B         C         D
2019-01-01 -1.428962  0.982618 -0.232847  1.652321
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162

In [89]:
df['20190101':'20190103']

                   A         B         C         D
2019-01-01 -1.428962  0.982618 -0.232847  1.652321
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162

In [90]:
df.loc[:, ['A', 'B']]  # loc: location

                   A         B
2019-01-01 -1.428962  0.982618
2019-01-02 -0.075616  0.711701
2019-01-03 -0.558351 -2.598092
2019-01-04 -0.777049  0.831077
2019-01-05 -0.202193 -0.433344
2019-01-06  0.284283  0.570724

In [93]:
df.loc['20190101':'20190103', ['A', 'B']]

                   A         B
2019-01-01 -1.428962  0.982618
2019-01-02 -0.075616  0.711701
2019-01-03 -0.558351 -2.598092

In [94]:
df.loc['20190101', ['A', 'B']]

A   -1.428962
B    0.982618
Name: 2019-01-01 00:00:00, dtype: float64

In [98]:
df.iloc[2]  # 숫자를 이용한 위치 검색, 2는 세번째 관측치

A   -0.558351
B   -2.598092
C   -0.347532
D   -0.380162
Name: 2019-01-03 00:00:00, dtype: float64

In [103]:
# df[3:5, 0:2] # ERROR
df.iloc[3:5, 0:2] # 행수 - 1, 열수 -1

                   A         B
2019-01-04 -0.777049  0.831077
2019-01-05 -0.202193 -0.433344

In [104]:
df

                   A         B         C         D
2019-01-01 -1.428962  0.982618 -0.232847  1.652321
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162
2019-01-04 -0.777049  0.831077 -0.608606 -0.219480
2019-01-05 -0.202193 -0.433344 -0.516073 -0.625438
2019-01-06  0.284283  0.570724  1.070122  0.719933

In [107]:
df.iloc[[1, 2, 3], [0, 1]] # index 1, 2, 3, 열은 0, 1, 선언된 index 그대로 쓰임

                   A         B
2019-01-02 -0.075616  0.711701
2019-01-03 -0.558351 -2.598092
2019-01-04 -0.777049  0.831077

In [109]:
df.iloc[1:3, :] # index: 1 ~ 2, 모든 열

                   A         B         C         D
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162

In [111]:
df.iloc[:, 1:3] # 모든 index, 1 ~ 2 열

                   B         C
2019-01-01  0.982618 -0.232847
2019-01-02  0.711701 -0.681716
2019-01-03 -2.598092 -0.347532
2019-01-04  0.831077 -0.608606
2019-01-05 -0.433344 -0.516073
2019-01-06  0.570724  1.070122

In [113]:
df

                   A         B         C         D
2019-01-01 -1.428962  0.982618 -0.232847  1.652321
2019-01-02 -0.075616  0.711701 -0.681716 -0.233827
2019-01-03 -0.558351 -2.598092 -0.347532 -0.380162
2019-01-04 -0.777049  0.831077 -0.608606 -0.219480
2019-01-05 -0.202193 -0.433344 -0.516073 -0.625438
2019-01-06  0.284283  0.570724  1.070122  0.719933

In [114]:
df[df.A > 0] # 모든 행중에 A열의 값이 0보다 큰 관측치 출력

                   A         B         C         D
2019-01-06  0.284283  0.570724  1.070122  0.719933

In [116]:
df[df > 0]  # 모든 데이터 대상

                   A         B         C         D
2019-01-01       NaN  0.982618       NaN  1.652321
2019-01-02       NaN  0.711701       NaN       NaN
2019-01-03       NaN       NaN       NaN       NaN
2019-01-04       NaN  0.831077       NaN       NaN
2019-01-05       NaN       NaN       NaN       NaN
2019-01-06  0.284283  0.570724  1.070122  0.719933

In [130]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three'] # 새로운 컬럼의 추가 
df2

                   A         B         C         D      E
2019-01-01  0.559039  1.082269 -0.698327  0.136219    one
2019-01-02  0.196337  0.062266  0.115113  0.402560    one
2019-01-03  0.120106 -2.149956  1.794591  0.404337    two
2019-01-04 -0.923719 -0.203031 -0.242551 -0.508793  three
2019-01-05  1.381434 -0.068938  0.574161  1.044594   four
2019-01-06 -0.155838 -0.952899 -1.040878  0.874383  three

In [131]:
df2['E'].isin(['two','four']) # E 변수에서 two, four 값을 찾아 True를 출력

2019-01-01    False
2019-01-02    False
2019-01-03     True
2019-01-04    False
2019-01-05     True
2019-01-06    False
Freq: D, Name: E, dtype: bool

In [132]:
df2[df2['E'].isin(['two','four'])] # true인 행 출력

                   A         B         C         D     E
2019-01-03  0.120106 -2.149956  1.794591  0.404337   two
2019-01-05  1.381434 -0.068938  0.574161  1.044594  four

In [134]:
df.apply(np.cumsum) # 누적합, 2행 = 1행 + 2행, 3행 = 2행 + 3행

                   A         B         C         D
2019-01-01  0.559039  1.082269 -0.698327  0.136219
2019-01-02  0.755376  1.144535 -0.583214  0.538779
2019-01-03  0.875483 -1.005421  1.211378  0.943115
2019-01-04 -0.048236 -1.208452  0.968826  0.434322
2019-01-05  1.333198 -1.277390  1.542988  1.478916
2019-01-06  1.177360 -2.230290  0.502110  2.353299